@use "../general-styles/__colors" as clr;
@use "../general-styles/__typography" as type;

.features {
    &__content {
        display: grid;
        grid-template-rows: repeat(2, min-content);
        gap: 5rem;

        &--title {
            span {
                color: clr.clrs(clr-primary);
            }
        }

        &--cards {
            display: grid;
            grid-template-rows: repeat(6, min-content);
            gap: 2rem;

            &__card:nth-child(2n) {
                background-image: url("../images/trainer-card-bg.jpg");
                background-size: cover;
                background-attachment: fixed;
                color: clr.clrs(clr-white);
            }

            &__card {
                padding: 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                &--icon {
                    font-size: type.fs(xl);
                    padding: 2rem;
                    background-color: clr.clrs(clr-primary);
                    align-self: flex-start;
                }
            }
        }
    }
}