@use "../general-styles/__colors" as clr;
@use "../general-styles/__typography" as type;

.pricing {
    &__content {
        display: grid;
        grid-template-rows: repeat(2, min-content);
        gap: 5rem;
        width: 100%;

        &--title {
            text-align: left;
        }

        &--plans {
            display: grid;
            grid-template-rows: repeat(3, min-content);
            gap: 2rem;

            &__plan {
                padding: 4rem 2rem;
                display: flex;
                flex-direction: column;
                gap: 2rem;

                &--title {
                    padding-bottom: 2rem;
                    position: relative;

                    span {
                        color: clr.clrs(clr-primary);
                        display: block;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        height: 1px;
                        width: 30px;
                        background-color: #d3d3d3;
                    }
                }

                &--features {
                    display: flex;
                    flex-direction: column;
                    gap: 1.5rem;

                    li {
                        font-size: type.fs(sc);
                        display: flex;
                        align-items: flex-start;
                        gap: 1rem;

                        i {
                            color: clr.clrs(clr-primary);
                            margin-top: 3px;
                        }
                    }
                }

                &--link {
                    color: clr.clrs(clr-black);
                    font-size: type.fs(sc);
                }
            }

            &__plan.regular-plan {
                border: 1px solid #d3d3d3;
            }

            &__plan.famous-plan {
                background-color: rgb(238 238 238);
            }

            &__plan.expert-plan {
                background-image: url("../images/trainer-card-bg.jpg");
                background-size: cover;
                background-attachment: fixed;
                color: clr.clrs(clr-white);

                .pricing__content--plans__plan--link {
                    color: clr.clrs(clr-white);
                }
            }
        }
    }
}