@use "../general-styles/__colors" as clr;
@use "../general-styles/__typography" as type;

.trainer {
    &__content {
        display: grid;
        grid-template-rows: repeat(3, min-content);
        gap: 4rem;

        & > div:first-child {
            display: flex;
            flex-direction: column;
            gap: 4rem;
        }

        &--link {
            color: clr.clrs(clr-black);
        }

        &--card {
            display: grid;
            grid-template-rows: repeat(4, min-content);
            gap: 2rem;
            background-image: url("../images/trainer-card-bg.jpg");
            background-size: cover;
            background-attachment: fixed;
            padding-bottom: 4rem;

            &__title,
            &__desc,
            .card-links-container {
                margin: 0 2rem;
            }

            &__title,
            &__desc {
                color: clr.clrs(clr-white);
            }
        }
    }
}