@use "../general__styles/colors" as clrs;
@use "../general__styles/typography" as type;

.sec-para-about {
    font-size: type.font-size-st(sc);
    color: clrs.color-type("2");
    text-align: center;
    margin-bottom: 4rem;

    span {
        display: block;
    }
}