@use "../general__styles/colors" as clrs;
@use "../general__styles/typography" as type;

.sec-sub-title {
    font-size: type.font-size-st(m);
    font-weight: type.font-weight(medium);
    transition: all 0.25s ease-in-out;
    color: clrs.color-type("3");

    @media (hover) {
        & {
            color: clrs.color-type("2");
        }

        &:hover {
            color: clrs.color-type("3");
        }
    }
}